@model PlayViewModel
<div class="text-center">
    <h1 class="display-4 text-left">@Model.Song.Title</h1>
    <div>
        <p class="text-left">
            @foreach (var phrase in Model.PlayResult.SingerPhrases)
            {
                <span>@phrase</span>
            }
        </p>
        <p class="text-left">
            @if (Model.PlayResult.IsSucceed)
            {
                @Html.Raw(Model.PlayResult.AudiencePhrase.Replace(Environment.NewLine, "<br />"))
            }
            else
            {
                @Html.Raw("残念……。");
            }
        </p>
    </div>
    <hr />
    <div class="text-left">
        <a class="btn btn-primary" href="@Model.Song.PlayName">Replay</a>
        <a class="btn btn-secondary" href="@Model.Song.PlayName?cheat=true">Cheat</a>
        <a class="btn btn-link" href="/">Back</a>
    </div>
</div>
